{% extends 'base.html' %}
{% block content %}



<!-- TOP VIEW -->
<!-- <div id="carouselExampleIndicators mx-2" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<!-- END HERE -->
<div style="background-color:#042743; " class="d-flex justify-content-center text-light ">
  <div class="my-5">
    <h3 class="mx-2">SKETCH & WILDLIFE PAINTINGS</h3>
    <div class="d-flex justify-content-center ">
      <a href="{% url 'book' %}"><button class="btn btn-danger mx-3">Book Your Sketch</button></a>
      <a href="{% url 'contact' %}"><button class="btn btn-danger ">Contact for More</button></a>
    </div>
  </div>

</div>


<!-- only paintings -->
<h3 class="text-center bg-warning mt-2 p-2">Sketch Works</h3>
<div class="d-flex p-1">
  <div class="row">
    {% for i in obj %}
    <div class=" col-sm-6 col-6 col-lg-3 ">
      <img src="" class="img-fluid" />
    </div>
    {% endfor %}
  </div>
</div>
<!-- end here -->

<!-- only paintings -->
<h3 class="text-center bg-warning mt-2 p-2">PaintingS</h3>
<div class="d-flex p-1">
  <div class="row">
    {% for i in obj %}
    <div class=" col-sm-6 col-6 col-lg-3 ">
      <img src="/media/{{i.art}}" class="img-fluid" />
    </div>
    {% endfor %}
  </div>
</div>
<!-- end here -->

{% endblock content %}